@using FinalTask.Models
@using FinalTask.ViewModels
@model ServicesVM
@{
    ViewData["Title"] = "Index";
}

  <main id="home">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 logo">
                    <h6 class="mt-2"><a href="">Home</a> / Services</h6>
                    <h2>Services</h2>
                </div>
                
            </div>
            

        </div>
        
    </main>
    <main id="cards">
        <div class="container">
            <div class="row mt-5">
                @foreach (Card card in Model.Cards)
               {
                   <div class="col-lg-4 col-md-6 col-sm-12  text-center maincard">
                    <div class="box">
                        <div class="basket mt-5">
                            <div class="icon">
                            <i class="@card.Icon"></i>
                            </div>
                        </div>
                        <div class="title mt-2">
                            <h4>@card.Name</h4>
                        </div>
                        <div class="text mt-2">
                        <p>@card.Info</p>
                        </div>
                    </div>
                </div>
               }
                
            </div>
            
        </div>
        <div class="container">
            <div class="row text-center">
                <div class="skills mt-5">
                    <h2 >Our skills</h2>
                </div>
                <div class="magnam mt-4">
                    <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
                </div>
            </div>  

        </div>
        <div class="container mt-2">
            <div class="row">
                <div class="col-lg-6"><img class="w-100" src="./assets/image/@Model.Skills.Image" alt=""></div>
                <div class="col-lg-6">
                    <h1>@Model.Skills.StatisticaTitle</h1>
                    <p>@Model.Skills.StatisticaInfo</p>
                    
                    @foreach (Statistica statistica in Model.Statisticas)
                   {
                        <div class="progress">
                        <div class="@statistica.Color" role="progressbar" style="@statistica.Width" aria-valuenow="@statistica.Value" aria-valuemin="0" aria-valuemax="100">@statistica.Volume</div>
                      </div>
                   }
                </div>
            </div>
        </div>
        
    </main>

